html{
    margin: 0;
    width: 100%;

}


body {
    background-color: var(--color-card-label);
}

.wrapper{
    border: none;
}


.videos{
    color: var(--color-secondary);
    
    margin-left: 30px;
    font-size: 25px;
    
    
}


@media screen and (min-width: 780px) {
    .full-width-img {
        margin: auto;
        width: 90%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        background-color: var(--color-card-label);
        margin-top: 10px;
    }
    
    .box {
        background-color: var(--color-card-label);
        border-radius: 15px;
        padding: 10px;
        
    }
}

/* efeitos de animação da barra de progresso*/
@-webkit-keyframes listras-anim {
    from {background-position:40px 0}
    to {background-position:0 0}
    }
    @-moz-keyframes listras-anim {
    from {background-position:40px 0}
    to {background-position:0 0}
    }
    @-o-keyframes listras-anim {
    from {background-position:40px 0}
    to {background-position:0 0}
    }
    @keyframes listras-anim {
    from {background-position:40px 0}
    to {background-position:0 0}
    }
  
    .progresso.ativa .progresso-barra {
      -webkit-animation: listras-anim 2s linear infinite;
      -moz-animation: listras-anim 2s linear infinite;
      -ms-animation: listras-anim 2s linear infinite;
      -o-animation: listras-anim 2s linear infinite;
      animation: listras-anim 2s linear infinite
    }
  
    .progresso {
      border-radius: 0.313rem;
      transition: all 0.2s;
      overflow: hidden;
      height: 20px;
      background-color: var(--color-hairline-in-light);
      padding: 1px;
      box-shadow: inset -1px -1px 18px #665959, inset 0 -1px 0 #CECECE;
      position: relative;
      
    }
  
    .progresso-barra {
      width: 75%;
      height: 20px;
      background-color: #FA9C2D;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
      -webkit-transition: width .6s ease;
      transition: width .6s ease;
      
    }
  
    
  
  .progresso-pai .progresso-barra {
      /*background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,.15)), color-stop(0.75, rgba(255,255,255,.15)), color-stop(0.75, transparent), to(transparent));*/
      background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
      background-image: -moz-linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
      background-size: 40px 40px
      
  }
  
  #label {
    text-align: right;
    line-height: 15px;
    color: white;
    
  }
  